.text-big {
    font-size: 1.3rem;
}

button {
    letter-spacing: 2px;
}

button:disabled {
    background-color: $disabled-color;
    color: white;
    border-color: white;
}
button:disabled:hover {
    background-color: $disabled-color;
    color: white;
    border-color: white;
}

h1 {
    font-family: $header-font;
    letter-spacing: 3px;
    font-size: 1.5rem;
    margin-left: 10px;
}